body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #8977fe, #60a6ff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .profile-pic {
      width: 200px;
      height: auto;
      border-radius: 15px;
      object-fit: cover;
      display: block;
      margin: 0 auto 15px auto;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .profile-container {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 550px;
    width: 90%;
    text-align: center;
  }
  
  .info-section {
    margin-top: 25px;
    text-align: left;
  }
  
  .info-section h3 {
    color: #6066ff;
    margin-bottom: 10px;
  }
  
  .skill {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .skill-name {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .skill-bar {
    background: #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    height: 12px;
    position: relative;
  }
  
  .skill-fill {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #6066ff, #89a1ff);
    border-radius: 10px;
    transition: width 1.5s ease;
  }

  .skill-percent {
      text-align: right;
      font-size: 14px;
      color: #6066ff;
      margin-top: 5px;
      font-weight: 600;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  ul li {
    background: #eef2ff;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;

  }

   .projects ul {
       padding: 0;
       list-style: none;
       text-align: left;
   }

  .projects li {
      background: #f7f8ff;
      border-radius: 8px;
      padding: 10px 15px;
      margin: 10px 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .projects a {
      font-weight: 600;
      color: #6066ff;
      text-decoration: none;
  }

  .projects a:hover {
      text-decoration: underline;
  }


